<!-- Footer -->
<!-- Footer -->
<footer class="footer" id="footer_login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="small text-left">
        Adriana Zazueta Carrillo
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p class="small text-right">
          Comments:<a href="mailto:adriana.zazueta@uabc.edu.mx"> adriana.szazueta@uabc.edu.mx</a>
        </p>
      </div>
    </div>
  </div>
</footer>
