<!DOCTYPE html>
<html lang="es-MX">
<head>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/css/externos/dist/js/bootstrap.min.js"></script>
	<script src="assets/js/create_account.js"></script>
	<link rel="stylesheet" href="./assets/css/main.css" />
</head>
<body>
	<div>
		<!-- header -->
		<div id="uabc_header" class="">
			<div class="col-xs-1" id="btnAbrirDrawer" style="display: none; margin-top: 10px;"><i style="font-size: 1.5em;" class="fa fa-bars"></i></div>
			<div class="col-sm-8 col-xs-11">
				<div class="cabecera title-center">
					<h1 class="escuela">RICK AND MORTY</h1>
					<p class="sistema_nombre">Sistema de consulta de personajes</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
