<!DOCTYPE html>
<html lang="es-MX">
<head>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<div>
		<nav class="main-menu">
			<p class="text-small text-center">MEN&Uacute;</p>
			<ul>
				<p class="text-small menu-title text-center">Usuario</p>
				<li class="has-subnav"><a href=""> </i> <span class="nav-text">Edit information</span>
				</a></li>
			</ul>
		</nav>
	</div>

</body>
